{% extends 'layout.html' %}

{% block content %}

<h2>student task Report</h2>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>ID</th>
            <th>student</th>
            <th>marks</th>
            <th>date</th>
        </tr>
    </thead>

    <tbody>
        {% for record in task_records %}

        <tr>
            <td>{{ record.student_task_id }}</td>
            <td>
                {{ record.first_Name }}
                {{ record.last_name }}
            </td>
            <td>{{ record.task_name }}</td>
            <td>{{ record.obtained_mark }}</td>
            <td>{{ record.submission_date }}</td>    
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}